* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* common class */

.section-heading {
    color: #363958;
    font-size: 48px;
    line-height: 58px;
    margin-top: 70px;
    margin-bottom: .7em;
}

header {
    background: #FFFBF0;
    margin-bottom: 10em;
}

.banner-left>h1 {
    font-weight: 600;
}

#banner-right img {
    max-width: 85%;
    height: auto;
}


/* single product */

.product-continer {
    border-radius: 20px;
}

.product-img {
    height: 327px;
    object-fit: cover;
    background: #F1F1F1;
    border-radius: 20px;
}

.product-img>img {
    height: 293px;
}

.cart-app {
    background: url(../images/shopping.png) no-repeat;
    background-position: right;
    background-size: 80%;
}

@media (min-width: 768px) {
    .woman-product {
        max-width: 48.5%;
        padding: 200px 0;
    }
}